#heading {
text-transform: uppercase;
color: #673AB7;
font-weight: normal
}
#msform {
position: relative;
margin-top: 20px
}
#msform fieldset {
background: white;
border: 0 none;
border-radius: 0.5rem;
box-sizing: border-box;
width: 100%;
margin: 0;
padding-bottom: 20px;
position: relative
}
.form-card {
text-align: left
}
#msform fieldset:not(:first-of-type) {
display: none
}
#msform input,
#msform textarea {
padding: 8px 15px 8px 15px;
border: 1px solid #ccc;
border-radius: 0px;
margin-bottom: 25px;
margin-top: 2px;
width: 100%;
box-sizing: border-box;

color: #2C3E50;
background-color: #ECEFF1;
font-size: 16px;
letter-spacing: 1px
}
#msform input:focus,
#msform textarea:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
border: 1px solid #673AB7;
outline-width: 0
}
#msform .action-button {
width: 100px;
background: #673AB7;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 0px;
cursor: pointer;
padding: 10px 5px;
margin: 50px 147px 0px 5px;
float: right
}
#msform .action-button:hover,
#msform .action-button:focus {
background-color: #311B92
}
#msform .action-button-previous {
width: 100px;
background: #616161;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 0px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px 10px 0px;
float: right
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
background-color: #000000
}
.fs-title {
font-size: 25px;
color: #673AB7;
margin-bottom: 15px;
font-weight: normal;
text-align: left
}
.purple-text {
color: #673AB7;
font-weight: normal
}
.steps {
font-size: 25px;
color: gray;
margin-bottom: 10px;
font-weight: normal;
text-align: right
}
.fieldlabels {
color: gray;
text-align: left
}
#progressbar {
text-align: center;
margin-bottom: 66px;
overflow: hidden;
color: rgb(33,29,40,0.15);
}
#progressbar .active {
color: #211D28;
}
#progressbar li {
list-style-type: none;
font-size: 24px;
width: 30%;
float: left;
position: relative;
font-weight: 400
}
#progressbar li:before {
width: 50px;
height: 50px;
line-height: 45px;
display: block;
font-size: 20px;
color: #ffffff;
background: lightgray;
border-radius: 50%;
margin: 0 auto 10px auto;
padding: 2px
}
#progressbar li:after {
content: '';
width: 50%;
height: 2.3px;
background: lightgray;
position: absolute;
left: 230px;
top: 18px;
z-index: -1
}
#progressbar li.active:before,
#progressbar li.active:after {
background: #55BE21
}
.progress {
height: 20px
}
.progress-bar {
    width: 50% !important;
background-color: #673AB7
}
.fit-image {
width: 100%;
object-fit: cover
}
.back-clr{
color: rgb(33,29,40,0.7) !important; 
}
.back-clr-icon {
color: rgb(33,29,40) !important; 
}