.table{
   margin-bottom: 0;
   }
   .table th ,.table td {
   padding: .75rem;
   vertical-align: top;
   border-top: 0;
   }
   .num-text-clr{
   font-size: 18px;
   font-weight: 800;
   }
   .num-text-clr span{
   font-size: 12px !important;
   font-weight: 600 !important;
   }
   .para1{
   padding-right: 80px;
   padding-left: 10px;
   font-size: 14px;
   color: rgb(33,29,40, 0.7);
   }
   .para2{
   padding-right: 10px;
   padding-left: 10px;
   font-size: 15px;
   padding-top: 4px;
   font-weight: 600;
   color: rgb(33,29,40, 0.3);
   }
   .bg-table-d{
   background: #F1F2F6;
   margin-bottom: 28px;
   padding-top: 8px;
   padding-bottom: 8px;
   }
   .bg-trans{
   background: transparent !important;
   }
   .owl-carousel .owl-item img .widthnot{
   width: 60% !important;
   }
   .owl-carousel .nav-btn{
   height: 47px;
   position: absolute;
   width: 26px;
   cursor: pointer;
   top: -41px !important;
   }
   .owl-carousel .owl-prev.disabled,
   .owl-carousel .owl-next.disabled{
   pointer-events: none;
   opacity: 0.2;
   }
   .owl-carousel .prev-slide{
   background: url(/images/left.png) no-repeat scroll 0 0;
   left: -33px;
   }
   .owl-carousel .next-slide{
   background: url(/images/right.png) no-repeat scroll 0 0px;
   right: -46px;
   }
   .owl-carousel .prev-slide:hover{
   background: url(/images/gososhul/hover2.png) no-repeat scroll 0 0px;
   }
   .owl-carousel .next-slide:hover{
   background: url(/images/gososhul/hover1.png) no-repeat scroll 0 0px;
   } 
   @media (min-width: 1024px) and (max-width: 1200px){
   .owl-carousel .prev-slide {
   background: url(/images/left.png) no-repeat scroll 0 0;
   left: -10px;
   }
   .owl-carousel .next-slide {
   background: url(/images/right.png) no-repeat scroll 0 0px;
   right: -20px;
   }
   }
   @media (min-width: 768px) and (max-width: 1023px){
   .owl-carousel .prev-slide {
   background: url(/images/left.png) no-repeat scroll 0 0;
   left: 0px;
   }
   .owl-carousel .next-slide {
   background: url(/images/right.png) no-repeat scroll 0 0px;
   right: -10px;
   }
   }
   @media (max-width: 576px){
   .owl-carousel .prev-slide {
   background: none;
   left: 0px;
   }
   .owl-carousel .next-slide {
   background: none;
   right: 0px;
   }  
   .show-box-width {
   width: 297px;
   }
   }
   .show-hover-text{
   position: absolute;
   background: #F1F2F6;
   }
   .show-box-width{
   width: 245px;
   }
   @media (min-width: 1920px){
   .show-box-width{
   width: 348px;
   } 
   .para1 {
   font-size: 16px;
   }
   .num-text-clr span {
   font-size: 14px !important;
   font-weight: 600 !important;
   }
   }
   @media (max-width: 411px){
   .show-box-width {
   width: 326px;
   }
   }
   @media (max-width: 375px){
   .show-box-width {
   width: 297px;
   }
   }
   .signupBottomButtonContainer{
      background-color: #ffffff;
      align-items: center;
      display: none;
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      bottom: 0px;
      text-align: center;
      z-index: 1;
      justify-content : space-evenly;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }